<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form action="URL" method="post">
        <label for="">first name</label> <br>
        <input type="text" id="firstName" name="firstName" autocomplete="on" required> <br>
        <label for="">last name</label> <br>
        <input type="text" id="lastName" name="lastName"><br>
        <label for="">email</label><br>
        <input type="email" name="email" id="email"> <br> <br>
        <input type="submit"> <br>

        <a href="../templates/project1.html"> חזור לדף בית </a>
    </form>
</body>
</html>