<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSSnav1.css">
    <script defer src="../static/nav.js"></script>
</head>
<body id="ContactUsBody">
    <span class="headerLeft">
        <header class="header">skiWorld</header>
        <img class="icon" src="../static/cable-car-cabin (1).jpeg">
    </span>
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item"><a href="../templates/homeP.html">דף הבית</a></li>
            <li class="list-item"><a href="../templates/ContactUs.html">צור קשר</a></li>
            <li class="list-item"><a href="../templates/skiDealWeek.html">SKIDEALweek</a></li>
        </ul>
    </nav>
    <span>
        <h1 id="header3">צור קשר</h1>
    </span>
    <form id="formContuct" action="URL" method="post" onsubmit="alert('הודעתך נשלחה בהצלחה, נחזור אלייך בהקדם! ויאללה נתראה בשלג :)');">
        <label for="">שם מלא</label><br>
        <input type="text" id="fullName" name="fullName" autocomplete="on" required><br>
        <label for="">אימייל</label><br>
        <input type="email" id="email" name="email" autocomplete="on" required><br>
        <label for="">מספר ימי חופשה</label><br>
        <input type="number" id="vacation days" name="vacation days" autocomplete="on" required><br>
        <label for="">תאריך תחילת חופשה</label><br>
        <input type="date" id="date for vacation" name="date for vacation" autocomplete="on" required><br>
        <label for=""></label><br>
        <select name="סגנון גלישה" id="סגנון" autocomplete="on" required>
        <option value="" selected disabled hidden>בחר סגנון גלישה</option>
        <option value="סקי">סקי</option>
        <option value="סנובורד" >סנובורד</option>
        </select><br><br>
        <label for="">מסכים לשלוח פרטים </label><br>
        <input type="checkbox" id="agreeDetails" name="agreeDetails" required><br>
        <button id="submit" type="submit">שליחה</button>
    </form>          
    <footer id="footer2"> 
        <p class="pFooter">
            עקבו אחרינו ברשתות החברתיות
        </p>
            <img class="icon2" src="../static/instagram.png">
            <img class="icon2" src="../static/twitter.png">
            <img class="icon2" src="../static/whatsapp (1).png">
     </footer>
</body>
</html>