<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSSnav1.css">
</head>
<body>
    <nav class="nav">
        <div>
            <a href="#">
                <img class="icon" src="../static/cable-car-cabin (1).jpeg">
            </a>
        </div>
        <ul class="nav-list">
            <li class="list-item">
                <a href="../templates/ContactUs.html">צור קשר</a>
            </li>
            <li class="list-item">
                <a href="#">אודות</a>
            </li>
            <li class="list-item">
                <a href="#">SKIDEALweak</a>
            </li>
            <li class="list-item">
                <a href="../templates/homeP.html">דף הבית</a>
            </li>
        </ul>
    </nav>
    <h1 id="header" class= "important">WE SKI</h1>
    <p id="string">
        לאכול, לגלוש, להנות!!!!!! <br> 
        אתרי הסקי שלנו מציעים שפע של מסעדות טובות,
        אפרה סקי משובח, ספא והרים של אטרקציות!<br>       
        וברובם דאגנו לכם להטבות :)
    </p>
     <footer id="footer1"> 
        <p>
            עקבו אחרינו ברשתות החברתיות
            <img class="icon2" src="../static/instagram.png">
            <img class="icon2" src="../static/twitter.png">
            <img class="icon2" src="../static/whatsapp (1).png">
        </p>
     </footer>
</body>
</html>