<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="header" class= "important" style="color: aqua;" >WE SKI</h1>
    <img src="../static/ski.jpg" alt="nami"> <br>
    <a href="../templates/ContactUs.html">צור קשר</a><br>
    <p>לאכול, לגלוש, להנות!<br> אתרי הסקי שלנו מציעים שפע של מסעדות טובות,
        אפרה סקי משובח, ספא והרים של אטרקציות!       
        וברובם דאגנו לכם להטבות :)       
     </p>

</body>
</html>