<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSSnav1.css">
    <script defer src="../static/nav.js"></script>
</head>
<body id="skiDealWeek">
    <span class="headerLeft">
        <header class="header">skiWorld</header>
        <img class="icon" src="../static/cable-car-cabin (1).jpeg">
    </span>
    <nav class="nav">
        <ul class="nav-list">
            <li class="list-item"><a href="../templates/homeP.html">דף הבית</a></li>
            <li class="list-item"><a href="../templates/ContactUs.html">צור קשר</a></li>
            <li class="list-item"><a href="../templates/skiDealWeek.html">SKIDEALweek</a></li>
        </ul>
    </nav>
    <div class="cloud">
        <div class="light"></div>
        <img  src="../static/plain.png" />
    </div>
    <div id="paragraph2">
        <p>
            לא מחכים! <br>
            משריינים!
        </p>
    </div> 
    <span id="header4">
        <h1>עונת 2023 עוד רגע כאן</h1>
    </span>
    <span id="soon">
        <h1>פרטים והרשמה מ-20.6...</h1>
    </span>
    <footer id="footer3"> 
        <p class="pFooter">
            עקבו אחרינו ברשתות החברתיות
        </p>
            <img class="icon2" src="../static/instagram.png">
            <img class="icon2" src="../static/twitter.png">
            <img class="icon2" src="../static/whatsapp (1).png">
    </footer>
</body>
</html>